<h2>CHAT</h2>
<form id="formulario">
    Email: <input type="text" name="name" id="name" placeholder="ejemplo@mail.com">
    Mensaje: <input type="text" name="info" id="info">
          <input type="submit" value="enviar">
</form>

<div>
<ul class="list-group" id="lista"></ul>
</div>
