<h2>CHAT</h2>
<form id="formulario">
    Email: <input type="text" name="name" id="name" placeholder="ejemplo@mail.com">
    Mensaje: <input type="text" name="info" id="info">
          <input type="submit" value="enviar">
</form>

<div>
<ul class="list-group" id="lista">
    <% listaChat.map(chat=>{ %>
        <li class="list-group-item">
            <b style="color:blue"><%= chat.nombre %></b> 
            <p style="color:brown"><%= chat.time %>
            </p><%= chat.info %></li>
            <br> 
<% })%>
</ul>
</div>
