
<div class="container text-center">
<form id="form" action="/productos" method="post">
        <div class="row"> Nombre <input type="text" name="nombre" id="nombre" ></div>
        <div class="row"> Precio <input type="number" name="precio" id="precio" ></div>
        <div class="row"> Stock <input type="number" name="stock" id="stock" ></div>
        <div class="row"> Imagen <input type="text" name="url" id="url" ></div>
        <input type="submit" value="agregar">
</form>
</div>