<div>
<h2 class="text-center">Productos agregados</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nombre </th>
        <th scope="col">Precio </th>
        <th scope="col">Stock </th>
    </tr>
    </thead>
    <tbody>
    <% productos.forEach(producto=>{ %>
    <tr>
            <td><%= producto.nombre %></td>
            <td><%= producto.precio %></td>
            <td><%= producto.stock %></td>
        <% }) %>
        
        
    </tr>
</tbody>
</table>
</div>